.wrapper {

    display: flex;

    justify-content: center;

    align-items: center;

    min-height: 100vh;

}

.badge {

    display: inline-block;

    min-width: 16px;
    /* pixel unit */

    padding: 35px 50px;
    /* pixel unit */

    border-radius: 50%;

    font-size: 75px;

    text-align: center;

    background: #1779ba;

    color: #fefefe;

}

.navbar {
    display: flex; /* Makes the container a flexbox */
    justify-content: space-between; /* Spreads the items evenly */
    background-color: #333;
    padding: 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
  }
  