

p {

color: red

}

#thing {

color: green;

}


p {

color: red !important;

}





blockquote {

font-style: italic;

background: yellow;

}

blockquote {

background: pink;

}



p {

color: light green;

}



#words {

color: lightblue;

}

.text {

color: yellow;

}

p {

color: lightgreen;

}

blockquote {

color: white;

background: black;

}