Example-

<p id=”thing”>Will be RED.</p>

p {

color: red

}

#thing {

color: green;

}

Here we assigned style using two things p HTML element and the thing id attribute. According to our specificity order, we can easily find out which colour the text will show. ID selector has higher specificity. So, it will show the green colour of the text.

If you want to make the text colour red then you have to use an important keyword.

p {

color: red !important;

}

It makes the text colour red. But it is not a good practice. Keep this! Important keyword is the last option. If nothing works then use this.

Another example-

<blockquote>

<p>What color is the blockquote?</p>

</blockquote>

blockquote {

font-style: italic;

background: yellow;

}

blockquote {

background: pink;

}

Here paragraph element shows pink background colour and italic type text. If you want to change the colour of the p element you can do this by adding the p tag in CSS or by adding class to the p element.

p {

color: light green;

}

The next case is if you want to add the colour on all text elements-

<blockquote>

<span>What happened to this text?</span>

<p>What happened to this text?</p>

<p class=”text”>What happened to this text?</p>

<p class=”text” id=”words”>What happened to this text?</p>

<p class=”text” id=”words” style=”color:pink”>

What happened to this text?

</p>

</blockquote>

#words {

color: lightblue;

}

.text {

color: yellow;

}

p {

color: lightgreen;

}

blockquote {

color: white;

background: black;

}